<div class="thesis_body container-fluid">

  <div class="row" >
    <div class="col-xs-10 col-xs-offset-1">
    <span class="title_font"><h1>The Grocery Gap:</h1><br><h2>Examining Food Access in US Cities</h2></span><br><br>
    <div class="col-xs-8">
    <span class="sans_serif_font">
    A balanced diet, consisting of a variety of nutritious foods, is essential in order to maintain a healthy lifestyle and reduce the risk of certain adverse health effects. Studies have shown that the healthiness of one’s diet is related to environmental conditions, including the accessibility of healthy food options in one’s local community. The quality of one’s local food environment can be assessed in terms of the distribution of supermarkets, which offer a wider range of low-priced healthy foods than smaller outlets. Using Boston, Atlanta and Detroit as case studies, this study used GIS models to examine how car and foot travel time to the nearest supermarket varies across space. Defining healthy food accessibility according to these models provides further empirical evidence that neighborhood characteristics, including race, wealth and population density, are associated with the health of local food environments. However, contrary to some previous studies, results indicated that some of the most socioeconomically disadvantaged people were most concentrated in areas of high supermarket accessibility. The results from this study enhance knowledge of the current food system. Furthermore, this study provides a methodological approach to identify areas where the market has failed to provide the public with an essential basic good.
    <br><br>
    <div class="thesis_footer">Ted Kwasnik, Senior Thesis, Spring 2009 <br> Faculty Advisor: Peter B. Nelson, Ph.D. </div>
    </span>
    <a href="https://s3-us-west-2.amazonaws.com/tedkwasnik/docs/Kwasnik_Thesis.pdf" target="_blank" download><div class="download"> Download PDF <i class="fa fa-file-pdf-o"></i></div></a>
    </div>
    <div class="col-xs-4">
      <img class = "thesis_image" src="https://s3-us-west-2.amazonaws.com/tedkwasnik/images/ThesisCover-01.png"/>
    </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-xs-10 col-xs-offset-1">
    <span class="title_font"><h2>Highlights</h2></span><br><br>
     <div class="col-xs-3">
      <span class="sans_serif_font">
      <br>These maps show <b>high</b> [green], <b>medium</b> [yellow] and <b>low</b> [red] supermarket accessibility according to the results of a GIS analysis. <br><br>
      </span>
    </div>

    <div class="col-xs-4">
     <span class="title_font"><h2>Boston</h2></span><br><br>
     <img src="https://s3-us-west-2.amazonaws.com/tedkwasnik/images/Thesis_Boston.png"/>
    </div>

    <div class="col-xs-4">
     <span class="title_font"><h2>Atlanta</h2></span><br><br>
     <img src="https://s3-us-west-2.amazonaws.com/tedkwasnik/images/Thesis_Atlanta.png"/>
    </div>


    <div class="col-xs-offset-3 col-xs-5">
     <br><br><span class="title_font"><h2>Detroit</h2></span><br><br>
     <img src="https://s3-us-west-2.amazonaws.com/tedkwasnik/images/Thesis_Detroit.png"/>
    </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-xs-10 col-xs-offset-1">
    <span class="title_font"><h2>Summary</h2></span><br><br>
    <div class="col-xs-3">
      <span class="sans_serif_font"> Boston had the highest overall supermarket accesibility, while Atlanta and Detroit supermarkets less reliably served the overall city population. All cities contained areas where people likely face challenges obtaining healthy and affordable food.
      </span>
    </div>

    <div class="col-xs-8">
     <img src="https://s3-us-west-2.amazonaws.com/tedkwasnik/images/Thesis_Summary.png"/>
    </div>

    </div>
  </div>

</div>
