<div class="cover_photo">
  <%= image_tag "background.JPG"%>
</div>


<div class="welcome_body" class="container-fluid">
  <div class="row" >
    <div class="profile_image col-xs-4">
      <h1>Welcome!</h1>
    </div>
  </div>

  <div class="row" >
    <div class="profile_image col-xs-8  col-xs-offset-2">
      I'm in the currently in Salt Lake City after an awesome trip to Montana! Bear with me as a I build the site - I hope to have pictures to share soon!
    </div>
  </div>
  </div>

