<div class="cover_photo">
  <%= image_tag "background.JPG"%>
</div>

<div class="cover_label"><span>Glacier National Park, MT</span></div>

<div class="welcome_body" class="container-fluid">
  <div class="row" >
    <div class="profile_image col-xs-10 col-xs-offset-1 title_font">
      <h1>Life moves pretty fast.<br> If you don't stop and look around once in a while, you could miss it.</h1><br>
      <h4 class="right">Ferris Bueller's Day Off (1986)</h4>
    </div>
  </div>

  <div class="row" >
    <div class="profile_image col-xs-8  col-xs-offset-2">
    </div>

    <div class="contact_container col-xs-12">
      <ul class="contact_links">
        <li><a href="https://github.com/TK-23"><i class="fa fa-github-square"></i></a></li>
        <li><a href="http://www.linkedin.com/pub/ted-kwasnik/45/a02/611/"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="http://instagram.com/tkbrewski"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  </div>

