.cover_photo > img {
  width: 100%;
  position: fixed;
  top:0;
  min-width: 800px;
}

.cover_label {
  position: relative;
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}
.cover_label > span{
  margin: 1em;
  position: absolute;
  bottom: 0;
  right:0;
}
.welcome_body {
  position: relative;
  margin-top: 35%;
  background: white;
  box-shadow: 0px 0px 5px #888888;
  padding: 20px;
}

.welcome_body > div > div {
  border-bottom: 2pt solid rgb(220,220,220);
  padding: 2em;
}

.contact_container {
  text-align: center;
}

.contact_links > li {
  display: inline-block;
  margin: 2em;
}

.contact_links > li > a {
  font-size: 60pt;
  color: #133568;
}
